<!DOCTYPE html>
<html>
<head>
  <title>CarPortal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
<!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
<%= link_to "Add", root_path, :class=>"navbar-toggle collapsed" %>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("header/logo.png") %></a>
    </div>  

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home", user_index_path%></li>
        <li class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="" data-target="#" href="/page.html">
                Dropdown <span class="caret"></span>
            </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">BMW</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">X3</a></li>
                  <li><a tabindex="-1" href="#">X5</a></li>
                  <li><a tabindex="-1" href="#">X1</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Mercedes Benz</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">C class</a></li>
                  <li><a tabindex="-1" href="#">A class</a></li>
                  <li><a tabindex="-1" href="#">E class</a></li>
                </ul>
              </li>
                <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Audi</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Q7</a></li>
                  <li><a tabindex="-1" href="#">A3</a></li>
                  <li><a tabindex="-1" href="#">Q8</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li><%=link_to "Compare", cars_compare_path%></li>
        <li><a href="#">Contact Us</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

